@use "../../styles/responsive.scss" as *;

.homeBanner {
  .homeBanner-imgs {
    width: 100%;

    .service_slide {
      img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        object-position: center top;
        filter: brightness(0.9);

        @include xl {
          // object-position: 50% 50%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
