@use "../../styles/responsive.scss" as *;

.homeBanner {
  padding-top: 90px;

  @include xl {
   padding-top: 0;
  }
  .homeBanner-imgs {
    width: 100%;

    .service_slide {
      img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
        filter: brightness(0.9);
        object-position: 50% -10%;

        @include xl {
          object-position: 50% 50%;
          height: 100vh;
        }
      }
    }
  }
}
