@use "../../styles/responsive.scss" as *;

.bm-burger-button {
  position: relative;
  width: 30px;
  height: 25px;
  right: 10px;
  z-index: 1000;

  @media (min-width: 769px) {
    display: none;
  }
}

.bm-burger-bars {
  background: #000;
}

.bm-cross-button {
  height: 40px;
  width: 40px;
}

.bm-cross {
  background: #000;
}

.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
}

.bm-menu {
  background-color: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #000;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 0 !important;
}

.bm-item {
  display: inline-block;
  color: #000;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  // color: #ffffff;
}

/////////////////////////////

.menu-item {
  margin-bottom: 10px;
  font-weight: 600;
  color: $primary-color;
}

.services-dropdown {
  .services-dropdown-item {
    display: flex;
    justify-content: space-between;

    span {
      margin-bottom: 10px;
      font-weight: 600;
      color: $primary-color;
    }

    .menu-icon {
      color: $primary-color;
    }
  }

  .service-links {
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    .service-link {
      display: flex;
      flex-direction: column;
      color: $p-color;
      gap: 5px;
    }
  }
}
