@use "../../../styles/responsive.scss" as *;

.mainDestination {
  overflow: hidden;

  .destinations-lg-sidebar {
    margin-bottom: 50px;
    padding: 0px 10px;

    @media (min-width: 1025px) {
      display: none;
    }
  }

  .mainDestination-banner {
  }
  .mainDestination-container {
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;

    @include lg {
      max-width: 750px;
    }

    .mainDestination-container-top {
      display: flex;
      gap: 30px;

      @include xl {
        padding: 0px 10px;
      }

      @include lg {
        flex-direction: column;
      }

      .mainDestination-container-left {
        flex: 7;

        h1 {
          font-size: 36px;
          color: $text-color;
          font-weight: 700;
          margin-bottom: 10px;

          @include sm {
            font-size: 28px;
          }
        }
        .sm-desc {
          color: $p-color;
          font-size: 18px;
          line-height: 1.6;
          margin-bottom: 20px;
          text-align: justify;
        }

        h3 {
          font-size: 24px;
          color: $text-color;
          font-weight: 600;
          margin-bottom: 20px;
        }

        .tips {
          margin-top: 30px;
          ul {
            margin-left: 30px;
            margin-top: 10px;
            li {
              font-size: 18px;
              margin-bottom: 10px;
              color: $p-color;

              &::marker {
                color: $text-color;
              }
            }
          }
        }

        .mainDestination-cards {
          display: flex;
          flex-direction: column;
          gap: 20px;

          hr {
            background: #dddddd;
            border: none;
            height: 1px;
            margin: 10px 0px;
          }
          .card-desc {
            margin-top: 40px;
            color: $text-color;
          }
          .mainDestination-card {
            display: flex;
            gap: 20px;
            align-items: center;
            border-radius: 10px;

            @include sm {
              flex-direction: column;
            }
            .mainDestination-card-left {
              flex: 5;
              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
              }
            }
            .mainDestination-card-right {
              flex: 5;
              display: flex;
              flex-direction: column;
              gap: 20px;

              h2 {
                font-size: 30px;
                color: $text-color;
              }
              p {
                color: $p-color;
                font-size: 18px;
              }

              .read-more-btn {
                align-self: flex-end;
                button {
                  padding: 10px 15px;
                  font-size: 16px;
                  border: none;
                  background: $btn-bg;
                  border-radius: 5px;
                  color: #fff;
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  gap: 10px;

                  &:hover {
                    .right-arrow {
                      transform: translateX(5px);
                    }
                  }
                  .right-arrow {
                    font-size: 25px;
                    transition: all 0.3s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }

      .mainDestination-container-right {
        flex: 3;

        @include lg {
          display: none;
        }
      }
    }
    .cab-services {
      max-width: 1200px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;

      @include xl {
        padding: 0px 10px;
      }

      h1 {
        color: $text-color;
        margin-bottom: 20px;
        font-size: 30px;
        @include sm {
          font-size: 25px;
        }
      }
      .cab-services-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        @include md {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
