@use "../../styles/responsive.scss" as *;

.service-comp-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include md {
    padding: 0px 20px;
  }
  h1 {
    color: $text-color;
    font-size: 30px;

    @include sm {
      font-size: 25px;
    }
  }

  p {
    color: $p-color;
    text-align: justify;
  }
  h3 {
    color: $text-color;
    margin-bottom: 10px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
    margin-left: 20px;

    li {
      color: $p-color;
      padding: 5px 0px;
      text-align: justify;

      span {
        font-weight: 500;
      }
    }
  }
}
