@use "../../styles/responsive.scss" as *;

.service-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;

  height: 200px;

  @include xl {
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    height: 100%;
  }

  @include sm {
    display: block;
  }

  img {
    width: 250px;
    height: 150px;
    object-fit: contain;
    flex: 1;

    @include xl {
      width: 100%;
    }

    @include md {
      width: 350px;
      margin: auto;
    }

    @include sm {
      width: 100%;
    }
  }

  .service-card-items {
    margin-top: 10px;
    flex: 9;

    @include xl {
      flex: 0;
    }

    .service-card-item {
      display: flex;
      justify-content: space-between;
      p {
        padding: 10px;
        font-weight: 500;
        color: $p-color;
        &:last-child {
          color: $primary-color;
        }
      }
    }
  }
}
