@use "../../styles/responsive.scss" as *;

.blogCards {
  h1 {
    text-align: center;
    color: $text-color;
    font-size: 30px;
  }

  .blogCards-content {
    margin-top: 30px;
    overflow: hidden;
    .blog-content-card {
      position: relative;
      overflow: hidden;
      background: #fff;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      cursor: pointer;
    
      &:hover {
        transform: translateY(-5px);
      }
    
      img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
      }
    
      &:hover img {
        transform: scale(1.05);
        border-radius: inherit;
      }
    
      .blog-content-card-desc {
        
        background: #fff;
        transition: background 0.3s ease-in-out;
    
        h3 {
          font-size: 20px;
          font-weight: 700;
          color: $text-color;
          margin-top: 10px;
          transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    
          &:hover {
            color: $btn-bg;
            transform: translateY(-2px);
          }
        }
    
        p {
          color: $p-color;
          margin: 10px 0px;
          font-size: 16px;
          line-height: 1.6;
        }
    
        span {
          display: inline-block;
          font-weight: 600;
          font-size: 16px;
          color: $text-color;
          cursor: pointer;
          transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    
          &:hover {
            color: $btn-bg;
            transform: translateX(5px);
          }
        }
      }
    }
    
  }
}

.blog-swiper {
  overflow: hidden;
  .swiper-slide {
    padding-bottom: 60px;
  }
}

.blog-swiper-prev,
.blog-swiper-next {
  position: absolute;
  bottom: -35px;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  font-size: 24px;
  color: $primary-color;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.blog-swiper-prev {
  left: 38%;

  @include lg {
    left: 35%;
  }

  @include md {
    display: none;
  }
}

.blog-swiper-next {
  right: 38%;

  @include lg {
    right: 35%;
  }

  @include md {
    display: none;
  }
}
