@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  button {
    font-family: "Jost", sans-serif;
  }

  strong {
    color: #2c3e50;
  }

  input,
  textarea {
    font-family: "Jost", sans-serif;
  }

  .mainDestination-cards {
    gap: 40px !important;

    .mainDestination-card {
      .mainDestination-card-left {
        img {
          height: 280px !important;

          @media (max-width: 480px) {
            height: 100% !important;
          }
        }
      }
    }
  }
}
