@use "../../styles/responsive.scss" as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
  overflow: visible;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  // &.navbar-visible {
  //   transform: translateY(0);
  // }

  // &.navbar-hidden {
  //   transform: translateY(-100%);
  // }

  .navbar-left {
    img {
      width: 100px;
    }
  }
  .navbar-center {
    @include md {
      display: none;
    }
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 20px;
      align-items: center;

      li {
        span {
          font-size: 18px;
          font-weight: 500;
          color: $primary-color;
          padding: 30px 0px;
        }

        transition: all 0.3s ease-in-out;
        &:hover {
          transform: translateY(-2px);
        }
      }
    }
    .services {
      position: relative;
      &.nav-popular {
        .services-link {
          .service-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            .nav-right-icon {
              transition: all 0.3s ease-in-out;
              padding: 10px;
              font-size: 40px;

              &:hover {
                color: $primary-color;
                background: rgba(128, 128, 128, 0.151);
                border-radius: 5px;
              }
            }

            &:first-child .smServiceLinks {
              top: 250%;
            }

            &:nth-child(2) .smServiceLinks {
              top: 250%;
            }
            .smServiceLinks {
              position: absolute;
              top: 100%;
              left: 111%;
              transform: translateY(-50%);
              width: 250px;
              background: #fff;
              transition: opacity 0.3s ease, visibility 0.3s ease;
              border: 1px solid $primary-color;
              border-radius: 5px;
              padding: 10px 20px;
              z-index: 100;

              .smServiceLink {
                display: flex;
                flex-direction: column;
                padding: 10px;
                transition: all 0.3s ease-in-out;
                font-weight: 500;

                &:hover {
                  color: $primary-color;
                  background: rgba(128, 128, 128, 0.151);
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }

      .services-link {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 80%;
        left: 0;
        width: 250px;
        background: #fff;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.3s ease;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 10px 20px;
      }

      &:hover .services-link {
        opacity: 1;
        visibility: visible;
      }

      li {
        span {
          display: flex;
          align-items: center;
          cursor: pointer;

          .down-icon {
            margin-left: 5px;
            transition: transform 0.5s ease;
          }
        }

        &:hover {
          transform: translateY(-0);
        }
      }

      &:hover .down-icon {
        transform: rotate(180deg);
      }

      .service-link {
        padding: 10px;
        transition: all 0.3s ease-in-out;
        font-weight: 500;

        &:hover {
          color: $primary-color;
          background: rgba(128, 128, 128, 0.151);
          border-radius: 5px;
        }
      }
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 30px;

    .navbar-right-button {
      @include sm {
        display: none;
      }
    }

    .call-btn {
      background: $btn-bg;
      border: none;
      padding: 15px 17px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      transition: all 0.3s ease-in-out;
      font-weight: 500;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      &:hover {
        border: 1px solid #ffd700;
        color: #000;
        background: #fff;
        transform: translateY(-2px);

        .call-icon {
          color: $btn-bg;
        }
      }

      .call-icon {
        margin-right: 10px;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
