@use "../../styles/responsive.scss" as *;

.footer {
  position: relative;
  z-index: 1;
  line-height: 34px;
  color: #fff;
  background: $primary-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include md{
      align-items: self-start;
      margin-left: 20px;
    }
    img {
      width: 150px;
      height: auto;
    }

    .footer-top-items {
      .footer-top-item {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        @include md{
          align-items: self-start;
          justify-content: flex-start;
          margin-top: 10px;
          
        }
       p{
        font-size: 18px;
        font-weight: 500;
       }

       .footer-top-icon{
        font-size: 25px;
        color: $btn-bg;
        flex-shrink: 0;
       }
        
      }
    }
  }

  .footer-center {
    .footer-center-items {
      display: flex;
      justify-content: center;
      margin: 50px 0px 50px 0px;
      gap: 50px;

      @include lg{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
      @include md{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
      .footer-center-item {
        margin: 0 auto;
        
        @include md{
          margin-left: 20px;
        }
        h3 {
          font-size: 20px;
        }
        ul {
          list-style-position: inside;

          margin-top: 10px;
          li {
            transition: all 0.3s ease-in-out;
            font-size: 18px;
            font-weight: 500;

            &:hover {
              color: $btn-bg;
              transform: translateX(10px);
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 27px 20px;

    @include sm {
      padding: 10px;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include lg {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      p {
        font-size: 18px;

        .star-link {
          border-bottom: 1px solid #fff;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $btn-bg;
            border-bottom: 1px solid $btn-bg;
          }
        }
      }

      .footer-icons {
        display: flex;
        gap: 10px;

        .footer-icon {
          font-size: 40px;
          padding: 10px;
          cursor: pointer;
          border-radius: 50%;
          transition: all 0.3s ease-in-out;
          border: 1px solid #fff;

          &:hover {
            background: #fff;
            color: $primary-color;
          }

          &:hover {
            transform: translateY(-4px);
          }
        }
      }
    }
  }
}
