@use "../../styles/responsive.scss" as *;

.taxi {
  position: relative;
  // max-width: 1200px;
  // margin: 0 auto;
  .taxi-top {
    text-align: center;
    width: 90%;
    margin: auto;

    @include sm {
      width: 99%;
      text-align: left;
    }

    h1 {
      font-size: 30px;
      color: $text-color;
      margin-bottom: 20px;

      @include sm {
        font-size: 25px;
      }
    }
    p {
      margin-top: 10px;
      line-height: 1.5;
      font-weight: 500;
      font-size: 18px;
      color: $p-color;
    }
  }

  .taxi-cards {
    margin-top: 30px;
    padding: 0px 10px;

    .taxi-card {
      max-width: 400px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
      }

      .taxi-card-desc {
        background: $primary-color;
        padding: 10px 0px;
        .taxi-card-item {
          display: flex;
          justify-content: space-between;
          p {
            padding: 10px;
            font-weight: 500;

            &:last-child {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 8px);
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0px 10px;
}

.swiper-pagination {
  z-index: 1 !important;
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: $primary-color;
    opacity: 1;
    transition: 0.3s ease-in-out;
    margin: 0px 10px;

    &.swiper-pagination-bullet-active {
      border: 2px solid $primary-color;
      transform: scale(1.2);
      background: #fff;
    }
  }
}

.taxi-swiper {
  overflow: hidden;
  .swiper-slide {

    padding: 10px 10px 60px 10px;
  }
}

.taxi-swiper-prev,
.taxi-swiper-next {
  position: absolute;
  bottom: -35px;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  font-size: 24px;
  color: $primary-color;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.taxi-swiper-prev {
  left: 38%;

  @include lg {
    left: 35%;
  }

  @include md {
    display: none;
  }
}

.taxi-swiper-next {
  right: 38%;

  @include lg {
    right: 35%;
  }

  @include md {
    display: none;
  }
}

.taxi-swiper-prev:hover,
.taxi-swiper-next:hover {
}
