@use "../../styles/responsive.scss" as *;

.popular {
  padding: 0px 10px;

  .popular-top {
    text-align: center;
    h1 {
      font-size: 30px;
      color: $text-color;
      margin-bottom: 20px;
    }
    p {
      margin-top: 10px;
      line-height: 1.5;
      font-weight: 500;
      font-size: 18px;
      color: $p-color;
    }
  }

  .popular-cards {
    margin-top: 30px;
    .popular-card {
      max-width: 400px;
      position: relative;
      overflow: hidden;
      height: 400px;
      z-index: 1;
      border-radius: 12px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
      }

      .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        transition: background 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        border-radius: inherit;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease-in-out;
      }

      &:hover {
        .bg-overlay {
          background: rgba(5, 16, 54, 0.6);
        }

        img {
          transform: scale(1.1);
        }
        .popular-card-desc {
          transform: translate(-50%, -20%);
        }

        .bg-overlay {
          background-color: rgba(5, 16, 54, 0.4);
        }
      }
      .popular-card-desc {
        position: absolute;
        bottom: 0%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, 50%);
        text-align: center;
        padding: 0px 10px;
        transition: all 0.3s ease-in-out;

        h2 {
          font-size: 30px;
          color: #fff;
        }

        button {
          background: $btn-bg;
          border: none;
          padding: 15px 30px;
          font-size: 16px;
          border-radius: 5px;
          font-weight: 500;
          color: #fff;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          width: 100%;
          margin-top: 20px;

          &:hover {
            background: #fff;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.popular-prev,
.popular-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  color: $primary-color;
  border: none;
  padding: 5px 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 20px;
  transition: background 0.3s ease-in-out;

  @include sm {
    display: none;
  }
}

.popular-prev {
  left: -20px;
}

.popular-next {
  right: -20px;
}

.popular-prev:hover,
.popular-next:hover {
  background: $primary-color;
  color: #fff;
}
